<!DOCTYPE html>
<html>
<head>
	<title>Voting App</title>
	<link rel="stylesheet" type="text/css" href="/lib/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link href="https://fonts.googleapis.com/css?family=Lato|PT+Sans|Roboto" rel="stylesheet" />
</head>
<body ng-app="app">
	<nav class="navbar navbar-fixed">
		<ul class="nav navbar-nav">
			{{#if user}}
				<li><a href="/logout">Logout {{user.twitter.displayName}}</a></li>
				<li><a href="/">Home</a></li>
				<li><a href="/yourpolls">Your Polls</a></li>
				<li><a href="/createpoll">Create new poll</a></li>
      		{{else}}	
      			<li><a href="/auth/twitter">Signin with Twitter</a></li>
      			<li><a href="/">Home</a></li>
      		{{/if}}
	     </ul>
	</nav>
	{{{body}}}
	<script src="/lib/angular.js"></script>
	<script src="/lib/jquery.min.js"></script>
	<script src="/lib/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>
	<script src="/js/custom.js"></script>
</body>
</html>