<div ng-controller="PollsCtrl">
	<div style="background-color: gainsboro;" class="jumbotron text-center wrapper">
		<h1 style="color: ghostwhite;" class="text-center">Voting App</h1>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-1-offset">
				<div class="poll" ng-repeat="poll in polls" ng-cloak><a ng-href=/vote/[[poll.pollId]]><span ng-cloak>[[poll.title]]</span></a></div>
				<div ng-if="polls.length == 0"><span>There are no polls</span></div>
			</div>
		</div>
	</div>
</div>