<div ng-controller="yourpollCtrl">
	<div style="background-color: gainsboro;" class="jumbotron text-center">
		<h2 style="color: ghostwhite;" class="text-center">Polls created by you</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-1-offset">
				<div class="poll" ng-repeat="poll in polls"><a ng-href=/vote/[[poll.pollId]] ng-cloak><span ng-cloak>[[poll.title]]</span></a></div>
			</div>
		</div>
	</div>
</div>